@{
    ViewData["Title"] = "Home Page";
    @* Layout = "_Layout"; *@
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Avec Visual Studio c'est possible de faire un rechargement à chaud *@
@* Trois Manières : Entity Framework *@
@* 
    1. Code First (Entity => Database)
    2. Database First (Database => Entity)
    3. Model First
        Create a schema...
        
    donet watch run => Live reload
 *@